/*
   color swatch

   orange:
    rgba 246, 106, 2
    #f66a02 - gradient light
    #f57b20 - gradient dark

   header search box bg:
    f0f0f0


  light grey border around products:
    dddddd

  grey text in products:
   545454

  red price text:
    c80000

  search button bg:
    5f6c76

  main bg:
    f0f0f0

  footer text color:
    f57b20

*/

@media (max-width: 768px) {
  #products article {
    margin: 30px;
  }
  body > header {
    padding: 1vw 30px;
  }
  #menu:focus + ul {
    display: flex;
    flex-direction: column;
    top: 11vw;
  }
  #menu + ul li {
    border-bottom: 1px solid white;
  }
  #menu + ul li:last-child {
    border-bottom: none;
  }
  #search-wrapper {
    order: 2;
    width: 100%;
    padding: 3vw 0;
    border-top: 1px solid #ddd;
    margin-top: 3vw;
  }
  #search {
    width: 100%;
  }
  #main-nav {
    order: 1;
  }
  main section:last-of-type {
    padding: 0 30px;
  }
}

@media (min-width: 769px) {
  #products article {
    margin: 60px;
  }
  body > header {
    padding: 1vw 30px;
  }
  #menu:focus + ul {
    display: block;
    top: 9vw;
  }
  #search-wrapper {
    order: 1;
    flex: 1;
    max-width: 600px;
  }
  #main-nav {
    order: 2;
    margin-left: 1em;
  }
  body > header a {
    color: gray;
    order: 0;
  }
  main section:last-of-type {
    padding: 0 60px;
  }
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

input[type="button"] {
  cursor: pointer
}
body {
  display: flex;
  flex-direction: column;
  color: #545454;
}

#top-nav {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 1em 0.5em;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: rgba(95, 108, 118, 0.8);
}
#top-nav a {
  color: white;
}

/* BEGIN HEADER */
body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}
#logo-wrapper {
  height: 7vw;
}
body > header a {
  margin-right: 1em;
}
body > header a > img {
  height: 100%
}
#search {
  display: flex;
  flex-direction: row;
  border: 1px solid LightGray;
}
#search input[name="search-input"] {
  padding: 5px 15px;
  background-color: #f0f0f0;
  border: none;
  min-width: 36px;
  flex: 1;
  height: 2em;
}
#search input[name="search-btn"] {
  color: white;
  background-color: #5f6c76;
  min-width: 150px;
  border: none;
}
#menu + ul {
  display: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: #5f6c76;
  text-align: center;
}
#menu:focus {
  color: #f57b20;
}
#menu + ul li {
  padding: 3vw 20px;
  display: inline-block;
}
#menu + ul li a {
  color: white;
}
#main-nav li {
  display: inline;
}

/* BEGIN MAIN */
main {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 1em;
}
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#products article {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  width: 226px;
}
#products article > * {
  margin-bottom: 15px;
}
#products article span {
  display: flex;
  flex-direction: column;
}
#products strong {
  color: #c80000;
}
#products article s {
  font-size: smaller;
}
#products figure {
  display: flex;
  flex-direction: column;
}
#products figure img {
  width: 75%;
  align-self: center;
}
#products article input[name="add-to-cart"] {
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px #ffd3b2;
  border: 1px solid #d55b00;
  color: white;
  text-shadow: 0px 1px 2px #424242;
  padding: 1em 0;
  width: 150px;
  align-self: center;
  font-weight: bold;
  background: #f66a02;
  background: -webkit-linear-gradient(to bottom, #f66a02, #f57b20);
  background: linear-gradient(to bottom, #f66a02, #f57b20);
}
main input[name="view-more"] {
  background: #80919f;
  background: -webkit-linear-gradient(to bottom, #80919f, #616f79);
  background: linear-gradient(to bottom, #80919f, #616f79);
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px #cbddea;
  border: 1px solid #4d575f;
  color: white;
  text-shadow: 0px 1px 2px #424242;
  padding: 1em 0;
  width: 150px;
  font-weight: bold;
}

/* BEGIN FOOTER */
body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 1em 0;
}
body > footer a {
  color: #f57b20;
}
body > footer a:visited {
  color: #f57b20;
}
