/*
   color swatch

   orange:
    rgba 246, 106, 2
    #f66a02 - gradient light
    #f57b20 - gradient dark

   header search box bg:
    f0f0f0


  light grey border around products:
    dddddd

  grey text in products:
   545454

  red price text:
    c80000

  search button bg:
    5f6c76

  main bg:
    f0f0f0

  footer text color:
    f57b20

*/

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

input[type="button"] {
  cursor: pointer
}
body {
  display: flex;
  flex-direction: column;
  color: #545454;
}
body > nav {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 0.5em;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  background-color: rgba(95, 108, 118, 0.8);
}
body > nav a {
  color: white;
}
body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 1vw 60px;
  height: 6vw;
}
body > header a {
  color: gray;
  height: 75%;
}

body > header a > img {
  height: 100%
}
body > header form {
  display: flex;
  flex-direction: row;
  border: 1px solid LightGray;
  max-width: 550px;
  flex: 1;
}
body > header form input[name="search-input"] {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  max-width: 400px;
  flex: 1;
  height: 2em;
}
body > header form input[name="search"] {
  color: white;
  background-color: #5f6c76;
  width: 150px;
  border: none;
}
body > header #menu + ul {
  display: none;
  position: absolute;
  top: 8vw;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: #5f6c76;
  padding: 4vw 0;
  text-align: center;
}
body > header #menu:focus {
  color: #f57b20;
}
body > header #menu:focus + ul {
  display: block;
}
body > header #menu + ul li {
  padding: 0 40px;
  display: inline-block;
}
body > header #menu + ul li a {
  color: white;
}
body > header nav li {
  display: inline;
  padding-left: 2em;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 1em;
}
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#products article {
  display: flex;
  flex-direction: column;
  margin: 60px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  width: 258px;
}
#products article > * {
  margin-bottom: 15px;
}
#products article span {
  display: flex;
  flex-direction: column;
}
#products strong {
  color: #c80000;
}
#products article s {
  font-size: smaller;
}
#products figure {
  display: flex;
  flex-direction: column;
}
#products figure img {
  width: 75%;
  align-self: center;
}
#products article input[name="add-to-cart"] {
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px #ffd3b2;
  border: 1px solid #d55b00;
  color: white;
  text-shadow: 0px 1px 2px #424242;
  padding: 1em 0;
  width: 150px;
  align-self: center;
  font-weight: bold;
  background: #f66a02;
  background: -webkit-linear-gradient(to bottom, #f66a02, #f57b20);
  background: linear-gradient(to bottom, #f66a02, #f57b20);
}
main input[name="view-more"] {
  background: #80919f;
  background: -webkit-linear-gradient(to bottom, #80919f, #616f79);
  background: linear-gradient(to bottom, #80919f, #616f79);
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px #cbddea;
  border: 1px solid #4d575f;
  color: white;
  text-shadow: 0px 1px 2px #424242;
  padding: 1em 0;
  width: 150px;
  font-weight: bold;
}

main section:last-of-type {
  padding: 0 60px;
}

body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 1em 0;
}
body > footer a {
  color: #f57b20;
}
body > footer a:visited {
  color: #f57b20;
}
